# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache Pytest
.pytest_cache/

# Virtual envs
env/
venv/
.venv/

# Base de données locale
*.db
/data/

# ========================
# Docker
# ========================
.dockerignore

# ========================
# Secrets / Env
# ========================
*.env

# ========================
# IDE / Éditeurs
# ========================
.vscode/
.idea/

# ========================
# Logs
# ========================
*.log

# ========================
# Système
# ========================
.DS_Store

# ========================
# Node / React (frontend)
# ========================
frontend/dashboard/node_modules/
frontend/dashboard/build/
frontend/dashboard/dist/

# ========================
# Médias & Générés
# ========================
*.png
*.jpg
*.jpeg
*.svg
